@font-face {
  font-family: font1;
  src: url(./assets/Baumans-Regular.ttf);
}
@font-face {
  font-family: font2;
  src: url(./assets/Exo-Medium.ttf);
}
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  font-family: font2, serif;
  font-size: 1.7rem;
  color: #141204;
  background: url(./img/bg.jpg) no-repeat center/cover;
}

.bg-opacity {
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.35);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px;
}

h1 {
  text-align: center;
  font-family: font1, serif;
  font-size: 4rem;
  font-weight: 600;
  color: #432818;
  margin: 150px;
  letter-spacing: 4px;
}

h2 {
  font-family: font1, serif;
  font-size: 2rem;
  font-weight: 200;
  color: #6f1d1b;
  text-align: center;
  letter-spacing: 2px;
}

p {
  text-align: left;
  line-height: 36px;
  margin: 25px 0;
}

.button {
  border: 1px solid #262a10;
  background: transparent;
  border-radius: 50px;
  padding: 13px 30px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: font2, sans-serif;
  transition: 0.3s;
}
.button:hover {
  border: 1px solid #99582a;
  color: #99582a;
  background: white;
}

a {
  text-decoration: none;
  color: #262a10;
}
a:visited {
  color: #262a10;
}

.nav {
  position: absolute;
  top: 30px;
  right: 50px;
  z-index: 100;
  font-size: 1.7rem;
  font-weight: bold;
}
.nav li {
  display: inline;
  padding: 0 15px;
  border-left: 3px solid #262a10;
}
.nav li:hover {
  border: 5px solid #262a10;
  border-radius: 50px;
  transition: 0.1s ease-in-out;
}
.nav li:active {
  border: 5px solid #262a10;
}

.section-1 {
  display: grid;
  grid-template-columns: 37% 63%;
  min-height: 400px;
  padding: 50px;
}

.section-1 .img {
  background: url(./img/target.jpg) center/cover;
  opacity: 0.8;
}

.section-2 {
  display: grid;
  grid-template-columns: 65% 35%;
  min-height: 400px;
  padding: 50px;
}

.section-2 .img {
  background: url(./img/bow-on-wall.jpg) center/cover;
  opacity: 0.8;
}

.section-3 {
  display: grid;
  grid-template-columns: 65% 35%;
  min-height: 600px;
  padding: 50px;
}

.section-3 .img {
  background: url(./img/horse-bow.jpg) center/cover;
  opacity: 0.9;
  height: 1200px;
}

.carousel {
  position: relative;
  width: 50%;
  margin: 0 25%;
}

.contact {
  text-align: center;
  padding: 60px 0;
}

.form-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 224px;
  grid-template-areas: "input1 input2" "textarea textarea";
  width: 85%;
  margin: 30px auto;
  max-width: 600px;
}

.text-area {
  grid-area: textarea;
}

label {
  font-weight: 600;
  font-size: 1.3rem;
}

input[type=text],
textarea {
  width: 100%;
  margin: 20px 0 40px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  transition: 0.2s;
}

input[type=text]:focus,
textarea:focus {
  border: 2px solid #141204;
}

textarea {
  resize: none;
  height: 180px;
}

.network {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  font-family: font1, crusive;
  padding: 50px;
}
.network a {
  padding: 0px 25px;
}
.network a:hover {
  transform: scale(1.5);
  transition: 0.4s ease-out;
  color: #99582a;
}
.network a:hover:nth-child(4) {
  transform: scale(1.1);
  font-weight: bold;
}

@media screen and (max-width: 425px) {
  body {
    font-size: 1.5rem;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 2.5rem;
    margin: 150px 0 30px 0;
  }
}

@media screen and (max-width: 425px) {
  p {
    line-height: 25px;
  }
}

@media screen and (max-width: 840px) {
  .section-1,
.section-2,
.section-3 {
    display: block;
  }
}

@media screen and (max-width: 840px) {
  .section-1 .img,
.section-2 .img,
.section-3 .img {
    background: hidden;
  }
}

@media screen and (max-width: 840px) {
  .form-grid {
    grid-template-columns: 100%;
    grid-template-rows: 150px 150px 250px;
    grid-template-areas: "input1" "input2" "textarea";
  }
}

@media screen and (max-width: 425px) {
  .network {
    display: inline-block;
  }
}

/*# sourceMappingURL=style.css.map */
